@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header_bg {
  background: linear-gradient(to right, #112847, #0f4068);
  transition: width 0.5s;
  /* Add animation to menu sliding */
  overflow: hidden;
}

header h1 {
  color: #ffa500;
  margin-top: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu_dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #07101f;
  width: 80%;
  height: 100%;
  padding: 3rem;
  opacity: 0;
  transform: translatex(-30%); /* Move the content up slightly */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.menu_dropdown.open {
  opacity: 1;
  transform: translatex(0%);
  transition: opacity 0.4s ease-in, transform 0.3s ease-in-out;
}

.hamicon.hide {
  visibility: hidden;
}

/* .list-ttr {
  position: absolute;
  top: 0%;
  width: 80%;
  height: 100%;
  z-index: 1;
  right: 0%;
  background-color: #07101f;
  padding: 3rem;
  transition: transform 5s;
  transform: translateX(-30%);
} */

.menu_dropdown ul {
  color: #fff;
  flex-direction: column;
  margin-top: 6.3rem;
}

.menu_dropdown ul li {
  font-size: 1.1rem;
}

.icon {
  color: #ffffffef;
  font-size: 2rem;
  /* margin-right: -13rem; */
  margin-top: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.close-icon {
  color: #fff;
  font-size: 1.8rem;
  position: absolute;
  left: 7%;
  top: 4%;
  cursor: pointer;
  font-weight: 600;
  z-index: 100;
}

.text_explorer {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.text_explorer .demo h1 {
  line-height: 30px;
  color: #ffffffe3;
  width: auto;
  font-weight: 500;
}

.text_explorer .demo p {
  color: #ffffff9c;
  font-size: 0.854rem;
  margin-top: 1rem;
  width: 100%;
  line-height: 20px;
}

.text_explorer .changed_btn .btn_click {
  background: linear-gradient(to right, #fd7702, #ff8e00);
  color: #fff;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  font-weight: bold;
  width: 32%;
  border-radius: 0.3rem;
  letter-spacing: 0.7px;
}

.it-solutions_s {
  background-color: #13213c;
  padding: 1rem;
}

.solutions_imgs_text {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.solutions_imgs_text h1 {
  font-weight: 600;
  color: #ffffffd8;
  width: 100%;
  font-size: 1.55rem;
}

.solutions_imgs_text p {
  margin-top: 0.85rem;
  color: #ffffff9c;
  line-height: 20px;
  font-size: 0.8rem;
  width: 100%;
}

.solutions_imgs_text .hero-btn button {
  background: linear-gradient(to right, #fd7702, #ff8e00);
  /* color: #ffffffc2; */
  color: #fff;
  padding: 0.4rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: bold;
  width: 32%;
  cursor: pointer;
  border-radius: 0.3rem;
  letter-spacing: 0.7px;
}

.solutions_img .img-solu {
  width: 100%;
  margin-left: -1rem;
  margin-top: 2rem;
}

.solutions_img .img-solu img {
  width: 100%;
  filter: brightness(1.1) contrast(0.8) blur(0);
}

.head-text-servies h1 {
  color: #ffffffe3;
  font-size: 1.55rem;
  text-align: center;
  font-weight: 600;
  padding: 3rem 0rem 1rem 0rem;
}

/* .head-text-servies p {
  width: 100%;
  color: #ffffffc9;
  font-size: 0.6rem;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
} */

.key-features {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 0.7rem;
}

.key-features .features-text {
  background: linear-gradient(to right, #0f355a, #0f2c4c);
  padding: 1rem;
  color: #ffffffcc;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 0.6rem;
  border: 1px solid #ffffff32;
}

footer {
  background-color: #07101f;
  padding: 1.4rem 3rem;
}

.logo-head h1 {
  color: #ff8e00;
  font-size: 0.9rem;
  font-weight: 600;
}

.first-link ul li {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 0.6rem;
  margin-top: 5rem;
  margin-left: -0.1rem;
}

.list-menu-II {
  display: none;
}

.list-menu-II ul li a:hover {
  color: #ff8e00;
}

.icons .text-xl {
  color: #fff;
  font-size: 1rem;
  /* background-color: #10aede; */
  background-color: #ff8e00;
  padding: 0.3rem;
  border-radius: 50%;
}

/* ABOUT PAGE */

.brand-distruptive {
  padding: 0.9rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.brand-distruptive h1 {
  text-align: center;
  font-size: 1.9rem;
  color: #ffffffd8;
  font-weight: 600;
}

.brand-distruptive p {
  margin-top: 1rem;
  line-height: 22px;
  font-size: 1.1rem;
  color: #ffffffad;
  text-align: center;
  width: 100%;
}

.embed-works {
  padding: 0.9rem;
  margin-top: 3rem;
}

.embed-works h1 {
  text-align: center;
  font-size: 1.9rem;
  color: #ffffffd8;
  font-weight: 600;
}

.embed-works p {
  margin-top: 1rem;
  line-height: 22px;
  font-size: 1.1rem;
  color: #ffffffad;
  text-align: center;
  width: 100%;
}

.bio {
  background-color: #13213c;
  padding: 1rem;
}

.bio-image-section {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.bio .team-lead h1 {
  font-size: 2rem;
  color: #ffffffd3;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.bio-img {
  width: 45%;
  background-color: #0c172b;
  margin: 0 auto;
  border-radius: 50%;
  /* position: relative; */
}

.bio-img img {
  /* width: 100%; */
  /* position: absolute; */
  padding-left: 2em;
  padding-top: 1rem;
}

.bio-text {
  margin-top: 0.7rem;
}

.bio-text h1 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.bio-text p {
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
}

.bio-text div {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.bio-para-steve {
  margin-top: 1rem;
  padding: 0.6rem;
  margin: auto;
  width: 85%;
}

.bio-para-steve p {
  margin-top: 2rem;
  line-height: 22px;
  font-size: 1.1rem;
  color: #ffffffad;
  text-align: center;
  width: 100%;
}

.bio-para-steve div {
  margin-top: 1rem;
  line-height: 22px;
  font-size: 1.1rem;
  color: #ffffffad;
  text-align: center;
  width: 100%;
}

.affiliates {
  background-color: #10365b;
  padding: 1rem;
}

.foreign-head h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffffffd7;
  text-align: center;
  margin-top: 0.9rem;
}

.move-affiiates {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.oracle-partner {
  margin-top: 2rem;
}

.oracle-img {
  width: 60%;
  margin: 0 auto;
}

.oracle-text {
  margin-top: 0.9rem;
}

.oracle-text p {
  color: #ffffffa5;
  margin-bottom: 1.2rem;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
}

/* SERVICES */

.features-boxes {
  padding: 2rem;
}

.key-features-pa {
  margin-top: 3rem;
}

.key-features-pa .head h1 {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.features-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  /* Gap between items */
  margin-top: 2rem;
}

.features-boxes .features {
  background: #0f355a;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border: 1px solid #ffffff20;
}

.features-boxes .features h1 {
  text-align: center;
  color: #02b2f8;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.features-boxes .features p {
  text-align: center;
  font-size: 0.6rem;
  color: #ffffffbd;
}

.solutions-cases {
  background-color: #13213c;
  padding: 1.2rem;
}

.solutions-cases .headies h1 {
  text-align: center;
  color: #ffffffd6;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.license-cases {
  display: flex;
  gap: 6rem;
  margin-top: 2rem;
  margin-left: 1.4rem;
  /* padding: 1rem; */
}

.license-cases .case ul li {
  list-style-type: disc;
  color: #ffffffda;
  margin-bottom: 0.7rem;
}

.license-cases .cases-used ul li {
  list-style-type: disc;
  color: #ffffffdc;
  margin-bottom: 0.7rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

th,
td {
  /* border: 1px solid #000; */
  padding: 8px;
  text-align: left;
}

.table-container .structure h1 {
  color: #ffffffce;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.8rem;
  padding-bottom: 1rem;
}

.table-container {
  background-color: #0e4e7a;
  padding: 1rem 1.5rem 5rem 1.5rem;
  /* border-radius: 2rem; */
}

/* CONTACT */

.contact-us {
  margin-top: 2rem;
}

.contact-us .head h1 {
  text-align: center;
  color: #ffffffb4;
  font-size: 1.9rem;
  font-weight: 600;
}

.contact-us .head p {
  color: #ffffff93;
  font-size: 0.5rem;
  text-align: center;
  width: 100%;
  margin-top: 0.7rem;
}

.contact-display {
  padding: 1.2rem;
  margin-top: 3rem;
}

form input {
  width: 100%;
  background-color: #0c172b;
  padding: 0.85rem;
  color: #ffffffc6;
  font-size: 0.7rem;
  margin-top: 1.7rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
}

form input::placeholder {
  color: #ffffffac;
}

form textarea {
  width: 100%;
  background-color: #0c172b;
  padding: 0.6rem;
  font-size: 0.7rem;
  color: #ffffffc3;
  border: none;
  outline: none;
  margin-top: 1.7rem;
}

form .btn-message {
  cursor: pointer;
  margin-top: 1.9rem;
  margin-bottom: 7rem;
}

form .btn-message button {
  background: linear-gradient(to right, #fd7702, #ff8e00);
  color: #fff;
  padding: 0.7rem;
  font-size: 0.8rem;
  width: 35%;
  border-radius: 0.3rem;
  letter-spacing: 0.7px;
}

/* ----QUOTE---- */
.quote-body {
  background: linear-gradient(to right, #112847, #0f4068);
  padding: 1rem;
}

.quote-container {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(to right, #112847, #0f4068);
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: linear-gradient(to right, #112847, #0f4068);
  transition: width 0.5s;
  overflow: hidden;
  padding: 1rem;
  /* margin: 0.2rem 0; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffffb4;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #ffffffb4;
  text-align: center;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  /* border: 1px solid #ccc; */
  background: #0c172b;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 0.8rem;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  /* border: 1px solid #aaa; */
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #ff8e00;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
}

#contact button[type="submit"]:hover {
  background: #fd7702;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  /* border: 1px solid #aaa; */
}

::-webkit-input-placeholder {
  color: #ffffffc6;
}

:-moz-placeholder {
  color: #ffffffc6;
}

::-moz-placeholder {
  color: #ffffffc6;
}

:-ms-input-placeholder {
  color: #ffffffc6;
}

@media screen and (min-width: 768px) {
  .list-ttr {
    display: none;
  }

  .icon {
    display: none;
  }

  header {
    margin-right: 1.5rem;
  }

  .list-menu-II {
    display: block;
    margin-right: 1rem;
    margin-top: 0.7rem;
  }

  .list-menu-II ul {
    color: #fff;
  }

  .list-menu-II ul li {
    font-size: 0.9rem;
    cursor: pointer;
  }

  .hero-image {
    background-image: url(/public/hero-sec-image.png);
    background-position: 50% 50%;
    background-size: cover;
    padding: 6rem 0rem;
    overflow-x: hidden;
  }

  .explore_companies_way {
    /* display: flex; */
    padding: 3rem 0rem;
    text-align: center;
    margin: auto;
    width: 75%;
  }

  .text_explorer .demo h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 40px;
    text-align: center;
    margin: auto;
  }

  .text_explorer .demo p {
    width: 90%;
    text-align: center;
    font-size: large;
    margin: 1rem auto;
  }

  .img-home-progress .desk {
    width: 350%;
  }

  .img-home-progress .desk img {
    position: relative;
    width: 100%;
    left: -80%;
    top: -16%;
  }

  /* .text_explorer .hero-btn button {
    width: 15%;
  } */

  header .embed h1 {
    margin-left: 4rem;
    width: 100%;
    color: #ffa500;
    /* color: #ff8e00; */
  }

  .text-flex-lonf {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 11rem;
    position: relative;
    left: 3%;
  }

  .solutions_imgs_text {
    margin-left: 4rem;
  }

  .solutions_imgs_text h1 {
    font-size: 1.8rem;
  }

  .solutions_imgs_text p {
    width: 76%;
  }

  .solutions_imgs_text .hero-btn button {
    width: 16%;
  }

  .solutions_img .img-solu {
    width: 180%;
  }

  /* ABOUT */

  .mover {
    margin-left: 2rem;
  }

  .embed-works p {
    width: 60%;
    padding-top: 0.7rem;
    margin-left: 14rem;
    margin: auto;
  }

  .brand-distruptive p {
    width: 70%;
    margin: auto;
    padding-top: 0.7rem;
    margin-left: 14rem;
  }

  .bio-img {
    width: 25%;
    background-color: #0c172b;
    margin: 0 auto;
    border-radius: 50%;
  }

  .bio-img img {
    padding-left: 4em;
    padding-top: 1rem;
  }

  .oracle-img {
    width: 20%;
  }

  .contact-us {
    margin-top: 4rem;
  }

  .contact-us .head h1 {
    font-size: 2.5rem;
  }

  .license-cases {
    margin-left: 20rem;
    gap: 13rem;
    margin-top: 2rem;
  }

  .contact-us .head p {
    font-size: 0.7rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form input {
    width: 40%;
  }

  form textarea {
    width: 40%;
  }

  form button {
    width: 11%;
    padding: 0.6rem;
    margin-right: 23.1rem;
  }

  footer {
    padding: 1.4rem 6rem;
  }

  /* ----QUOTE---- */
  .quote-body {
    background: linear-gradient(to right, #112847, #0f4068);
    padding: 4rem;
  }

  .quote-container {
    max-width: 40%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(to right, #112847, #0f4068);
  }
}

/* pricing table */
.table-section {
  background: linear-gradient(to right, #0f355a, #0f2c4c);
  padding: 0.5rem 0.5rem 6rem 0.5rem;
}

.pricing-table {
  padding: 0rem;
  margin: 0rem auto;
  border: 1px solid #0f355a;
  width: 95%;
  background: linear-gradient(to right, #0f355a, #0f2c4c);
}

.pricing-table td {
  padding: 0px;
  /* border-left: 1px solid #ffffff32; */
  font-size: 0.8rem;
  background-color: #13213c;
  padding: 1rem;
  color: #ffffffcc;
  /* border: 1px solid #ffffff32; */
}

.pricing-table .pricing-table-list td {
  padding: 10px 8px;
  font-weight: 500;
  text-align: center;
  font-size: 0.8rem;
  background: linear-gradient(to right, #0f355a, #0f2c4c);
  padding: 1rem;
  color: #ffffffcc;
  /* border: 1px solid #ffffff32; */
}

.pricing-table .pricing-table-list .glyphicon-ok {
  color: #68af27;
}

.pricing-table .pricing-table-list .glyphicon-remove {
  color: #c22439;
}

.pricing-table .pricing-table-list td:first-child {
  font-weight: 600;
  text-align: left;
  border-left: 0px;
  font-size: 0.8rem;
  color: #ffffffcc;
}

.pricing-table .pricing-table-list:nth-child(2n) td {
  font-size: 0.8rem;
  background: linear-gradient(to right, #0f355a, #0f2c4c);
  padding: 1rem;
  color: #ffffffcc;
  /* border: 1px solid #ffffff32; */
}

.pricing-table .pricing-table-text h2 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 33px;
  margin: 0px;
  padding: 0px;
  /* text-align: center; */
  color: #ffffffe3;
  width: 100%;
  padding: 0.5rem;
}

.pricing-table .pricing-table-text p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.4rem;
}

.pricing-table .pricing-table-item {
  /* color: #FFF; */
}

.bg-td {
  background: #fd7702;
}

.pricing-table .pricing-table-item .pricing-table-item-head {
  padding: 10px 5px;
  text-align: center;
  color: #fff;
}

.pricing-table .pricing-table-item .pricing-table-item-head p {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 0px;
}

.pricing-table .pricing-table-item .pricing-table-item-head span {
  font-size: 11px;
  font-weight: 400;
}

.pricing-table .pricing-table-item .pricing-table-item-price {
  padding: 15px 10px;
  text-align: center;
  background: #fff;
  color: #009ad7;
}

.pricing-table .pricing-table-item .pricing-table-item-price p {
  font-size: 41px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 0px;
}

.pricing-table .pricing-table-item .pricing-table-item-price p span {
  font-size: 12px;
  font-weight: 300;
}

.pricing-table .pricing-table-item .pricing-table-item-price > span {
  font-size: 12px;
  font-weight: 400;
  color: #009ad7;
}

.pricing-table .pricing-table-item .pricing-table-item-purchase {
  padding: 10px 5px;
  background: #fff;
}

.pricing-table .pricing-table-item .pricing-table-item-purchase .btn {
  text-transform: uppercase;
  margin-bottom: 0px;
}

/* SERVICE TABLE   */
.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #13213c;
  color: #fff;
}

.rwd-table tr {
  /* border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; */
  background-color: #0f355a;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #13213c;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

/* .rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #fff;
} */

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table tr {
  /* border-color: #bfbfbf; */
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}

@media screen and (min-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  body {
    width: 100%;
    height: 100%;
  }

  .list-menu-II {
    margin-right: -0.4rem;
  }

  header .embed h1 {
    margin-left: 1rem;
  }

  .text_explorer .demo h1 {
    line-height: 50px;
  }

  .text_explorer .demo p {
    line-height: 26px;
  }

  .text_explorer .changed_btn .btn_click {
    width: 30%;
    cursor: pointer;
  }

  .text-flex-lonf {
    margin-top: 8%;
    margin-bottom: 0;
  }

  .solutions_imgs_text {
    position: relative;
    right: 10%;
    padding: 0rem;
    overflow-x: hidden;
  }

  .solutions_img {
    margin-top: -5%;
  }

  .solutions_imgs_text h1 {
    width: 170%;
    font-size: 1.3rem;
  }

  .solutions_imgs_text p {
    width: 140%;
    font-size: 0.7rem;
    text-align: left;
  }

  .solutions_imgs_text .hero-btn button {
    width: 40%;
  }

  .embed-works p {
    line-height: 26px;
  }

  .brand-distruptive p {
    margin-left: 8%;
    line-height: 26px;
    width: 85%;
  }

  .license-cases {
    margin-left: 15%;
  }

  .contact-us .head p {
    font-size: 1.2rem;
  }

  form input {
    width: 70%;
    padding: 1rem;
  }

  form textarea {
    width: 70%;
  }

  form .btn-message button {
    width: 29%;
    margin-left: -6%;
    cursor: pointer;
  }

  .quote-container {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .text_explorer .changed_btn .btn_click {
    width: 20%;
    cursor: pointer;
  }

  .text-flex-lonf {
    margin-top: 8%;
    margin-bottom: 0;
  }

  .solutions_imgs_text {
    position: relative;
    left: 5.6%;
    padding: 0rem;
    overflow-x: hidden;
  }

  .solutions_img {
    margin-top: -6%;
    margin-left: -7%;
  }

  .solutions_imgs_text h1 {
    width: 100%;
    font-size: 2.3rem;
  }

  .solutions_imgs_text p {
    width: 83%;
    font-size: 1rem;
    line-height: 26px;
    text-align: left;
  }

  .solutions_imgs_text .hero-btn button {
    width: 20%;
  }

  .license-cases {
    margin-left: 30%;
  }

  form input {
    width: 48%;
  }

  form textarea {
    width: 48%;
  }

  form .btn-message button {
    width: 28%;
    margin-left: -13%;
  }

  .quote-container {
    max-width: 40%;
  }
}

@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
  }

  .rwd-table td:before {
    display: none;
  }

  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
/* body {
  background: #4B79A1;
  background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
  background: linear-gradient(to left, #4B79A1, #283E51);
} */

h1 {
  /* text-align: center; */
  font-size: 2.4em;
  color: #f2f2f2;
}

.table-container {
  display: block;
  background: linear-gradient(to right, #112847, #0f4068);
  text-align: center;
}

h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}

/* h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}

h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
} */

@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(-10px);
  }

  75% {
    -webkit-transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/
